<!-- Shollow component test -->
<app-nav></app-nav>

<router-outlet></router-outlet>

<div style="display: flex; justify-content: center; align-items: center;">
  <div>
    <button hoverDirective (click)="gotoGreeter('/user')">Go to user</button>
  </div>
  <div>
    <button hoverDirective (click)="gotoGreeter('/greeter')">Go to greeter</button>
  </div>
</div>

<app-form>
  <h2 class="title">Content projected</h2>
  <ng-container *ngIf="true">
    Ng ng-container
    <div *ngIf="false; else temp">
      If part
    </div>
    <ng-template #temp>
      Ng Template else part
    </ng-template>
  </ng-container>
</app-form>
<div style="margin: 50px;">
  <h1>{{observable | async }}</h1>
</div>
<div style="margin-top: 50px;">
  <input type="text" placeholder="search" [(ngModel)]="filterModel">
  <ul>
    <li *ngFor="let user of users | filter:filterModel:'name'">{{user.name}}</li>
  </ul>
</div>